.topContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.contact,
.resume {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact:hover {
  background-color: rgb(255, 255, 255);
}

.contact {
  background-color: #398ef5;
  color: rgb(0, 0, 0);
}

.resume:hover {
  background-color: rgb(255, 255, 255);
}

.resume {
  background-color: #398ef5;
  color: rgb(0, 0, 0);
}

.buttonContainer {
  display: flex;
  gap: 10px;
  margin-top: 5%;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
}

.modalContent h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #398ef5;
}

.modalContent p {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #333;
}

.closeButton {
  padding: 10px 15px;
  background-color: #398ef5;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.closeButton:hover {
  background-color: rgb(212, 212, 212);
}

.aboutTitle {
  font-size: 40px;
  text-align: center;
}

.textBody {
  text-align: center;
  padding: 10px;
  font-size: 18px;
}

.about {
  margin-top: 2rem;
  border: #398ef5 solid;
  border-width: 4px;
  max-width: 800px;
  height: min-content;
  background-color: #202020;
  border-radius: 7px;
  text-align: center;
}

.headShot {
  padding: 10px;
  max-width: 65%;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#line {
  border: 2px solid;
  border-color: #398ef5;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #666666;
}

body::-webkit-scrollbar-track {
  background-color: #000000;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .about-image {
    max-width: 100%;
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  .mainContainer {
    gap: 3rem;
  }
}