.navHome {
    float: inline-start;
    opacity: 60%;
    padding-right: 5px;
    max-width: 8%;
}

.navHome:hover {
    color: rgba(127, 255, 144, 0.733);
}

.navLinks {
    float: inline-end;
    padding-right: 5%;
}

.Link1 {
    color: #398EF5;
    padding: 5px;
}

.Link1:hover {
    color: rgba(127, 255, 144, 0.733);
}

.Link2 {
    color: #398EF5;
    padding: 5px;
}

.Link2:hover {
    color: rgba(127, 255, 144, 0.733);
}

.Link3 {
    color: #398EF5;
    padding: 5px;
}

.Link3:hover {
    color: rgba(127, 255, 144, 0.733);
}
