.navHome {
    float: inline-start;
    opacity: 60%;
    max-width: 8%;
}

.navHome:hover {
    border-color: rgb(32, 158, 49);
}

.navLinks {
    float: inline-end;
    padding-right: 5%;
    font-size: 25px;
}

.Link1 {
    color: #398EF5;
    padding: 10px;
    size-adjust: 100%;
}

.Link1:hover {
    color: rgb(32, 158, 49);
}

.Link2 {
    color: #398EF5;
    padding: 10px;
}

.Link2:hover {
    color: rgb(32, 158, 49);
}

.Link3 {
    color: #398EF5;
    padding: 10px;
}

.Link3:hover {
    color: rgb(32, 158, 49);
}

.navbar{
    display: block;
}
