.skill1, .skill2, .skill3, .skill4, .skill5, .skill6, .skill7, .skill8, .skill9, .skill10, .skill11, .skill12, .skill13, .skill14, .skill15, .skill16, .skill17 {
    margin: 1rem;
    border: #398ef5 solid;
    border-width: 4px;
    width: 100px;
    height: 60px;
    background-color: #398ef549;
    display: inline-flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.skillsTitle {
    text-align: center;
}

.skillsContainer {
    float: inline-end;
    max-width: 600px;
    min-width: 200px;
}

.logo {
    margin: 0 auto;
}

.allSkills {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 20px;
}